# Dependências
node_modules/

# Banco de dados local
database.sqlite

# Relatórios de teste
coverage/

# Variáveis de ambiente
.env

# Logs
npm-debug.log*
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/